*.acn
*.acr
*.alg
*.aux
*.bit
*.bbl
*.blg
*.dvi
*.fls
*.idx
*.ilg
*.ind
*.ist
*.glg
*.gls
*.glo
*.idx
*.lof
*.log
*.lot
*.out
Roboterpraktikum.pdf
*.pre
*.synctex.gz
*.tcp
*.tdo
*.thm
*.tps
*.toc
temp*
